@model IEnumerable<MeShop.Models.User_Address>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Địa chỉ của tôi</h2>
        </div>
    </div>
</div>
<section class="cart-area ptb-100">
    <div class="container">
        <form>
            <div class="cart-table table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Sổ địa chỉ</th>
                            <th scope="col">
                                <div class="text-end">
                                    <a asp-action="CreateAddress" class="default-btn">THÊM ĐỊA CHỈ MỚI</a>
                                </div>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td>
                                    <span class="unit-amount">@item.Address_Detail</span>
                                    <p>@item.Address_Ward, @item.Address_District, @item.Address_City</p>
                                </td>
                                <td class="product-subtotal ">
                                    <a asp-action="RemoveAddress" asp-route-id="@item.Id" class="remove"><i class="bx bx-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="cart-buttons">
                <div class="row align-items-center justify-content-center">
                  

                    
                </div>
            </div>

        </form>
    </div>
</section>

